/*--color--*/
$wcolor: #ffffff;
$kfred: #cc4e00;
$kfpheading: #f58220;
$kfborcolor: #ebeef1;
$kfblackblue: #1d2b36;
$kfdarkblue: #405261;
$kfnavyblue: #09366d;
$kfnavybluelt: #052955;
$kfheading: #1d2b36;
$kflborder: #d5dce1;

/*-----------------------------------*/
$fontnormal: 400;
$fontmedium: 500;
$fontsemibold: 600;
$fontbold: 700;

$heading2: 2.4rem;
$heading2lh:3.4rem;
$heading3: 3.0rem;
$heading3lh:4.0rem;
