<section class=
  "
    testimonials section-height__medium
    {% include 'section_utility_heading_alignment' %}
  "
  data-preview-item="testimonials"
>
  <div class="testimonials__container">
    {% include 'section_headings' %}
    <article class="section__content">
      {% if section.blocks != empty %}
        <div class="testimonials__list section__body">
          {% for block in section.blocks %}
            <div class="testimonials__list-item">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <p>&ldquo;{{ block.settings.testimonial_body }}&rdquo;</p>
              <span>
                <img
                  src="{{ block.settings.testimonial_avatar }}"
                  alt=""
                  loading="lazy"
                  width="32"
                />
                {{ block.settings.testimonial_author }}
              </span>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </article>
  </div>
</section>

<script>
$(window).load(function() {
  var $testimonialsCarousel = $('.testimonials__list').addClass('owl-carousel'),
      testimonialCount = $('.testimonials__list .testimonials__list-item').length,
      looped = (testimonialCount < 3) ? false : true,
      testimonialsOwlOptions = {
        center: false,
        dots: false,
        merge: true,
        loop: looped,
        margin: 0,
        nav: true,
        navText: ['<i aria-hidden="true" class="fa fa-chevron-left"></i>','<i aria-hidden="true" class="fa fa-chevron-right"></i>'],
        slideBy: 1,
        responsive: {
          0: {
            items: 1,
            margin: 15
          },
          768: {
            items: 1.05
          },
          992: {
            items: 1.55
          }
        }
      };
  $testimonialsCarousel.owlCarousel(testimonialsOwlOptions);
  $('.testimonials__list .owl-next').attr('aria-label', "Next");
  $('.testimonials__list .owl-prev').attr('aria-label', "Previous");
});
</script>

{% style %}

.testimonials {
  {% include 'section_style_background_color_offset' %}
  {% include 'section_style_heading_alignment' %}
  {% include 'section_style_heading_ornament' %}

  {% if section.settings.section_padding_top %}
    .testimonials__container {
      padding-top: 0;
    }
  {% endif %}

  {% if section.settings.section_padding_bottom %}
    .testimonials__container {
      padding-bottom: 0;
    }
  {% endif %}
}

{% endstyle %}

{% schema %}
{
  "label":"Social proof: testimonials",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Social proof: testimonials"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Background & layout",
      "settings":[
        {
          "type":"select",
          "id":"background_color",
          "label":"Color",
          "description":"",
          "default":"background_1",
          "options":[
            {
              "value":"background_1",
              "label":"Primary"
            },
            {
              "value":"background_2",
              "label":"Secondary"
            }
          ]
        },
        {
          "type":"checkbox",
          "id":"section_padding_top",
          "label":"Remove top section padding",
          "default":false
        },
        {
          "type":"checkbox",
          "id":"section_padding_bottom",
          "label":"Remove bottom section padding",
          "default":false
        }
      ]
    }
  ],
  "blocks":{
    "label":"Add testimonial",
    "limit":10,
    "types":[
      {
        "type":"testimonial",
        "label":"Testimonial",
        "settings":[
          {
            "type":"text",
            "id":"testimonial_author",
            "label":"Author"
          },
          {
            "type":"image",
            "id":"testimonial_avatar",
            "label":"Avatar",
            "default":"https://cdn.thinkific.com/13/20180205/39756c0116e7c268ccc233356a72736d.png"
          },
          {
            "type":"textarea",
            "id":"testimonial_body",
            "label":"Text"
          }
        ]
      }
    ],
    "defaults":[
      {
        "type":"testimonial",
        "values":{
          "testimonial_author":"Author's name",
          "testimonial_avatar":"https://cdn.thinkific.com/13/20180205/39756c0116e7c268ccc233356a72736d.png",
          "testimonial_body":"Share testimonials about you, your course, or your content. Don’t be afraid to reach out to your network to get some glowing words about the work you’ve done. Most potential students will look to the opinions of others when making purchase decisions online."
        }
      }
    ]
  }
}
{% endschema %}
